.field {
    float: left;
    width: 25%;
    border: solid 1px black;
    padding: 10px;
    margin-right: 10px;
}

.priceButtons {
    margin-bottom: 10px;
}

.cell {
    float: left;
}

.selected {
    font-weight: bold;
}

.priceRow {
    cursor: pointer;
}

.priceRow .cell {
    width: 50%;
}

.field.bookTickers {
    width: 33%;
}

.bookTickerRow {
    font-size: 12px;
}

.bookTickerRow .cell {
    width: 20%;
}

.field.depth {
    width: 10%;
}

.depth p {
    margin: 0;
}

.subField .title {
    color: black;
    margin: 10px 0;
}

.depthAsks {
    color: red;
}

.depthBids {
    color: green;
}

.field.candlesticks {
    width: 20%;
}

.candlesticksRow {
    overflow: hidden;
}

.candlesticksRow.fall {
    color: red;
}

.candlesticksRow.rise {
    color: green;
}

.candlesticks .cell {
    font-size: 12px;
    margin-right: 10px;
}