<section>
    <div>
        <h3>Trade</h3>
        <div *ngIf="filteredPriceKeys !== undefined" class="field prices">
            <div class="priceButtons">
                <button [class.selected]="priceFilter === 'BTC'" (click)="filterPrices('BTC')">BTC</button>
                <button [class.selected]="priceFilter === 'ETH'" (click)="filterPrices('ETH')">ETH</button>
                <button [class.selected]="priceFilter === 'BNB'" (click)="filterPrices('BNB')">BNB</button>
                <button [class.selected]="priceFilter === 'USDT'" (click)="filterPrices('USDT')">USDT</button>
            </div>
            <div class="priceRow {{price === ticketChoice ? 'selected' : ''}}" *ngFor="let price of filteredPriceKeys" (click)="chooseDepth(price)">
                <div class="cell">
                    <span>{{price}}:</span>
                </div>
                <div class="cell">
                    <span>{{prices[price]}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="bookTickerKeys !== undefined" class="field bookTickers">
            <div class="bookTickerRow">
                <div class="cell">Pair:</div>
                <div class="cell">Ask</div>
                <div class="cell">No. of Asks</div>
                <div class="cell">Bid</div>
                <div class="cell">No. of Bids</div>
            </div>
            <div class="bookTickerRow" *ngFor="let bookTicker of bookTickerKeys">
                <div class="cell">{{bookTicker}}:</div>
                <div class="cell">{{bookTickers[bookTicker].ask}}</div>
                <div class="cell">{{bookTickers[bookTicker].asks}}</div>
                <div class="cell">{{bookTickers[bookTicker].bid}}</div>
                <div class="cell">{{bookTickers[bookTicker].bids}}</div>
            </div>
        </div>
        <div *ngIf="ticketChoice !== ''" class="field depth">
            <p>{{ticketChoice}}</p>
            <div *ngIf="depthAsks !== undefined" class="subField depthAsks">
                <div class="title">Asks</div>
                <div *ngFor="let depthAsk of depthAsksKeys">
                    {{depthAsk}}: {{depthAsks[depthAsk]}}
                </div>
            </div>
            <div *ngIf="depthBids !== undefined" class="subField depthBids">
                <div class="title">Bids</div>
                <div *ngFor="let depthBid of depthBidsKeys">
                    {{depthBid}}: {{depthBids[depthBid]}}
                </div>
            </div>
        </div>
        <div *ngIf="currentCandlesticks !== undefined" class="field candlesticks">
            <div class="priceButtons">
                <button [class.selected]="candlestickTime === '1m'" (click)="setCandleRange('1m')">1m</button>
                <button [class.selected]="candlestickTime === '3m'" (click)="setCandleRange('3m')">3m</button>
                <button [class.selected]="candlestickTime === '5m'" (click)="setCandleRange('5m')">5m</button>
                <button [class.selected]="candlestickTime === '15m'" (click)="setCandleRange('15m')">15m</button>
            </div>
            <div class="candlesticksRow {{stick[1] > stick[4] ? 'fall' : 'rise'}}" *ngFor="let stick of currentCandlesticks">
                <div class="cell">
                    Time: {{stick.time}}
                </div>
                <div class="cell">
                    Open: {{stick[1]}}
                </div>
                <div class="cell">
                    Close: {{stick[4]}}
                </div>
            </div>
        </div>
    </div>
</section>
