<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#1a1d25" />
        <script src="zone.js"></script>
    </head>

    <body>
        <my-app></my-app>

        <div id="pre-bootstrap-container">
            <div id="pre-bootstrap">
                <div class="loader"></div>
            </div>
        </div>
    </body>
</html>
